<footer class="main-footer">
  <div class="footer">
    <section class="contact">
      <h3>Contact me</h3>
      <p>
        If you are interested in my portfolio, you can contact through the
        following means.
      </p>
      <div class="contact-me">
        <p><i class="fa-brands fa-whatsapp"></i> (+506) 60583374</p>
        <p>
          <i class="fas fa-envelope"></i>{{ " kevin.andres2009@hotmail.com" }}
        </p>
      </div>
      <ul class="icons" ngNonBindable>
        <li>
          <a href="https://wa.me/50660583374" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </li>
        <li>
          <a href="https://m.me/kevinandres.hidalgocambronero" target="_blank"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a
            href="mailto:kevin.andres2009@hotmail.com?Subject=Estoy%20interesado%20en%20contactarlo"
            target="_blank"
            ><i class="fas fa-envelope"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/kevin-hidalgo-441198193"
            target="_blank"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </li>
      </ul>
      <br />
    </section>

    <!-- Copyright -->
    <div class="copyright">
      <p>&copy; Kevin Hidalgo C. All rights reserved |<span>2024</span></p>
    </div>
  </div>
</footer>
