<div class="content1">
  <div class="text">
    <h2>Hello, I'm Kevin Hidalgo,</h2>
    <span>Systems Engyneer !</span>
    <p>
      In my previous jobs I stood out for developing software solutions
      efficient taking into account the wishes of the customer and providing
      support to the team of job
    </p>
    <a href="../../assets/archive/kevin.pdf" download="Mi_Curriculum.pdf">
      <button>Download Resume</button>
    </a>
  </div>
  <div
    class="imagenes"
    [ngClass]="{
      'hover-imagen-1': isHoveringImage1,
      'hover-imagen-2': isHoveringImage2
    }"
  >
    <img
      class="imagen-1"
      src="https://github.com/KevinHidalgo.png"
      alt="Photo Profile"
      (mouseenter)="onHover('imagen-1')"
      (mouseleave)="onLeave('imagen-1')"
    />
    <img
      class="imagen-2"
      src="../../assets/images/Coding.gif"
      alt="Photo Laptop"
      (mouseenter)="onHover('imagen-2')"
      (mouseleave)="onLeave('imagen-2')"
    />
  </div>
</div>

<div class="About"><h2 id="About" #About>ABOUT</h2></div>
<div class="content2">
  <!-- Cuadrícula superpuesta -->
  <div class="grid-overlay"></div>

  <div class="descripcion">
    <h2>Bachelor's degree in systems engineering (UNA) With Experience</h2>
    <p>
      Highly skilled Systems Engineer with extensive experience in designing and
      implementing complex systems. Proven track record of optimizing
      performance and efficiency while ensuring seamless operations.
    </p>
  </div>

  <div class="items-Experience">
    <div class="experience">
      <div class="years">
        <h3>4+</h3>
      </div>
      <p>Years Experience</p>
    </div>

    <div class="skills">
      <h2>Skills</h2>
      <section class="carousel">
        <div
          class="reel"
          [style.transform]="'translateX(' + translateX + 'px)'"
        >
          <article>
            <img src="../../assets/images/pic01.png" alt="" />
          </article>

          <article>
            <img src="../../assets/images/pic02.png" alt="" />
          </article>

          <article>
            <img src="../../assets/images/pic03.png" alt="" />
          </article>

          <article>
            <img src="../../assets/images/pic04.png" alt="" />
          </article>

          <article>
            <img src="../../assets/images/pic05.png" alt="" />
          </article>

          <article>
            <img src="../../assets/images/pic06.png" alt="" />
          </article>

          <article>
            <img src="../../assets/images/pic07.png" alt="" />
          </article>

          <article>
            <img src="../../assets/images/pic08.png" alt="" />
          </article>

          <article>
            <img src="../../assets/images/pic09.png" alt="" />
          </article>

          <article>
            <img src="../../assets/images/pic10.png" alt="" />
          </article>

          <article>
            <img src="../../assets/images/pic11.png" alt="" />
          </article>
        </div>

        <div
          class="arrow arrow-left"
          (mouseover)="moveCarousel(180)"
          (mouseout)="resetCarousel()"
        >
          &#9665;
        </div>
        <div
          class="arrow arrow-right"
          (mouseover)="moveCarousel(-300)"
          (mouseout)="resetCarousel()"
        >
          &#9655;
        </div>
      </section>
    </div>
  </div>
</div>

<!-- <div class="content3">
  <h2 id="Project">PROJECTS</h2>

  <div class="container-card">
    <div class="card">
      <div class="img-principal">
        <a href="https://bargiam.com/" target="_blank">
          <img src="../../assets/images/ImagenBargiam.JPG"
        /></a>
      </div>

      <div class="description">
        <h3>
          Bargiam Web Page (Go
          <a href="https://bargiam.com/" target="_blank"
            ><i class="fa-solid fa-eye"></i
          ></a>
          )
        </h3>

        <div class="tecnologia">
          <p>TECHNOLOGY</p>
          <div class="imagenes-tecnologia">
            <img src="../../assets/images/pic08.png" />
          </div>
        </div>
        <p>
          Web page created by the Bargiam business that produces and exports
          national foods, is an informative page containing various sections
          such as home, food, products, galleries and contacts.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img-principal">
        <img src="../../assets/images/GalagaStar.jpg" />
      </div>

      <div class="description">
        <h3>Galaga Star (Game)</h3>
        <div class="tecnologia">
          <p>TECHNOLOGY</p>
          <div class="imagenes-tecnologia">
            <img src="../../assets/images/pic04.png" />
          </div>
        </div>
        <p>
          Is an exciting game inspired by the legendary Galaga. Fight against
          alien ships as you prepare for an exciting showdown with the main boss
          ship.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img-principal">
        <img src="../../assets/images/WordPress.JPG" />
      </div>
      <div class="description">
        <h3>Page GBM</h3>
        <div class="tecnologia">
          <p>TECHNOLOGY</p>
          <div class="imagenes-tecnologia">
            <img src="../../assets/images/pic09.png" />
            <img src="../../assets/images/pic01.png" />
            <img src="../../assets/images/pic04.png" />
            <img src="../../assets/images/pic02.png" />
            <img src="../../assets/images/pic05.png" />
            <img src="../../assets/images/pic08.png" />
          </div>
        </div>
        <p>
          It was developed in a team of 5 members. I dedicated myself to all the
          development regarding the blog of the frontend and backend page, list
          of authors and management of articles for each author.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img-principal">
        <img src="../../assets/images/controlGarantias.jpg" />
      </div>

      <div class="description">
        <h3>Guarantees Control GND</h3>
        <div class="tecnologia">
          <p>TECHNOLOGY</p>
          <div class="imagenes-tecnologia">
            <img src="../../assets/images/pic11.png" />
            <img src="../../assets/images/pic10.png" />
            <img src="../../assets/images/pic01.png" />
            <img src="../../assets/images/pic04.png" />
            <img src="../../assets/images/pic03.png" />
            <img src="../../assets/images/pic06.png" />
          </div>
        </div>
        <p>
          In this system you could create, edit, display or delete user and
          warranty tickets. It has roles and a log was also created to control
          the actions.
        </p>
      </div>
    </div>
  </div>
</div>  -->

<div class="content4">
  <h2 id="Project">PROJECTS</h2>

  <div class="container-card">
    <div class="card">
      <div class="cover item-a">
        <h1>Bargiam<br />Web Page</h1>
        <span class="price"> <img src="../../assets/images/pic08.png" /></span>
        <div class="card-back">
          <p>
            Web page created by the Bargiam business that produces and exports
            national foods, is an informative page containing various sections
            such as home, food, products, galleries and contacts.
          </p>
          <p class="tecnologia">TECHNOLOGY</p>
          <div class="imagenes-tecnologia">
            <img src="../../assets/images/pic08.png" />
          </div>
          <a href="https://bargiam.com/" target="_blank"> GO</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="cover item-b">
        <h1>Galaga <br />Star (Game)</h1>
        <span class="price"> <img src="../../assets/images/pic04.png" /></span>
        <div class="card-back">
          <p>
            Is an exciting game inspired by the legendary Galaga. Fight against
            alien ships as you prepare for an exciting showdown with the main
            boss ship.
          </p>
          <p class="tecnologia">TECHNOLOGY</p>
          <div class="imagenes-tecnologia">
            <img src="../../assets/images/pic04.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="cover item-c">
        <h1>Page<br />GBM</h1>
        <span class="price"><img src="../../assets/images/pic09.png" /></span>
        <div class="card-back">
          <p>
            It was developed in a team of 5 members. I dedicated myself to all
            the development regarding the blog of the frontend and backend page,
            list of authors and management of articles for each author.
          </p>
          <p class="tecnologia">TECHNOLOGY</p>
          <div class="imagenes-tecnologia">
            <img src="../../assets/images/pic09.png" />
            <img src="../../assets/images/pic01.png" />
            <img src="../../assets/images/pic04.png" />
            <img src="../../assets/images/pic02.png" />
            <img src="../../assets/images/pic05.png" />
            <img src="../../assets/images/pic08.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="cover item-d">
        <h1>Guarantees<br />Control GND</h1>
        <span class="price"><img src="../../assets/images/pic11.png" /></span>
        <div class="card-back">
          <p>
            In this system you could create, edit, display or delete user and
            warranty tickets. It has roles and a log was also created to control
            the actions.
          </p>
          <p class="tecnologia">TECHNOLOGY</p>
          <div class="imagenes-tecnologia">
            <img src="../../assets/images/pic11.png" />
            <img src="../../assets/images/pic10.png" />
            <img src="../../assets/images/pic01.png" />
            <img src="../../assets/images/pic04.png" />
            <img src="../../assets/images/pic03.png" />
            <img src="../../assets/images/pic06.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
