<header
  class="main-header-mobile"
  *ngIf="isMobile"
  [ngClass]="{ scrolled: isScrolled }"
>
  <div class="header">
    <label for="btn-nav" class="btn-nav" (click)="toggleMenu()">
      <i class="{{ menu_icon }}"></i>
    </label>
    <input type="checkbox" id="btn-nav" hidden />

    <div class="logo-mobile"><a href="index.html">KH</a></div>
    <nav class="nav-mobile" [class.active]="menuOpen">
      <ul class="navigation">
        <li><a href="index.html">HOME</a></li>
        <li><a href="#About">ABOUT</a></li>
        <li><a href="#Project">PROJECTS</a></li>
      </ul>
    </nav>
    <div class="switch-mobile">
      <label class="switch">
        <input type="checkbox" (click)="toggleTheme()" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</header>

<header
  class="main-header"
  *ngIf="!isMobile"
  [ngClass]="{ scrolled: isScrolled }"
>
  <div class="header">
    <div class="logo"><a href="index.html">KH</a></div>
    <nav class="nav-desktop" id="nav">
      <ul class="navigation2">
        <li><a href="index.html">HOME</a></li>
        <li><a href="#About" class="scrolly">ABOUT</a></li>
        <li><a href="#Project" class="scrolly">PROJECTS</a></li>
        <li>
          <label class="switch">
            <input type="checkbox" (click)="toggleTheme()" />
            <span class="slider round"></span>
          </label>
        </li>
      </ul>
    </nav>
  </div>
</header>
